<template>
  <div class="sticky bottom-0 w-full mx-auto mt-2 bg-white">
    <div class="flex flex-row justify-between align-middle items-center">
      <div class="flex mx-4 flex-col font-legend">
        <span class="text-xs"> Legend:</span>
        <div class="table pt-1">
          <div class="table-row" v-for="(errorType, errorTypeIndex) in errorTypes" :key="errorTypeIndex" >
            <div class="mx-2 w-6 h-3" :class="sampleCellClass(errorType)"/> 
            <div class="table-cell text-xs align-middle text-left font-table">
              {{ makeItPretty(errorType) }}
            </div>
          </div>
        </div>
      </div>
      <div class="mx-4">
        <span class="text-xs"> Powered by:</span>
        <div class="flex flex-row items-center">
          <a target="_blank" href="https://mistdb.com">
            <img class="mr-1 my-1" svg-inline src="../assets/mist_logo.svg" width="60px"/>
          </a>
          <a target="_blank" href="https://mist3.gitlab.io/mist3-ts/">
            <img src="https://gitlab.com/mist3/mist3-ts/raw/master/assets/mist3-ts.logo.png" width="50px"/>
          </a>
          <a target="_blank" href="https://typescript.nuxtjs.org/">
            <img class="m-2" svg-inline src="https://typescript.nuxtjs.org/assets/logo.svg" width="45px"/>
          </a>
        </div>
      </div>
      <div class="mx-4">
        <span class="text-xs"> Code and page hosted by:</span>
        <div class="flex flex-row items-center justify-center">
          <a target="_blank" href="https://gitlab.com/daviortega/mist3-vs-wbw">
            <img src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-rgb.png" width="110px"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { wbw } from 'static/wbw'
import { config } from 'static/config'

type ErrorType = keyof typeof config.colorCode

interface ISigStat {
  name: string,
  count: number
}

const makePretty: { [code in ErrorType]: string } = {
  fp: "False Positives: MiST3 found more candidates than WBW",
  fn: "False Negatives: MiST3 found less candidates than WBW",
  hit: "MiST3  and WBW found the same number of candidates"
}

export default Vue.extend ({
  data: () => {
    const wbwData = wbw.data
    const errorTypes = Object.keys(config.colorCode).reverse()
    const configuration = config
    return {
      wbwData,
      configuration,
      errorTypes
    }
  },
  methods: {
    sampleCellClass(errorType: ErrorType) {
      return `mx-2 w-6 h-3 bg-${this.configuration.colorCode[errorType]}-500`
    },
    makeItPretty(errorType: ErrorType) {
      return makePretty[errorType]
    }
  }
})
</script>

<style>

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.icon-active {
    animation: blinker 1s infinite;
}

</style>