<template>
  <div>
   <NavBar :counts=counts />
   <div class="flex flex-col">
    <Panel @updateCounts="updateCounts" />
    <Footer/>
   </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import NavBar from '@/components/NavBar.vue';
import Panel from '@/components/Panel.vue';
import Footer from '@/components/Footer.vue'

export default 
Vue.extend({
    components: {
        NavBar,
        Panel,
        Footer
    },
    data: function () {
        const counts: {mist: number, wbw: number}[] = []
        return {
            counts
        }
    },
    methods: {
        updateCounts(newCounts: {mist: number, wbw: number}[]) {
            this.counts = newCounts
        }
    }
})

</script>

<style>
/*purgecss: bg-red-100 bg-red-200 bg-red-300 bg-red-400 bg-red-500 bg-red-600 bg-red-700 bg-red-800 bg-red-900 */
/*purgecss: bg-purple-100 bg-purple-200 bg-purple-300 bg-purple-400 bg-purple-500 bg-purple-600 bg-purple-700 bg-purple-800 bg-purple-900 */
/*purgecss: bg-green-500 */
body {
  background-color: rgb(192, 192, 192);
}
</style>