<template>
    <nav class="sticky top-0 bg-mist-navbar py-6 pt-6 pb-2">
        <div class="flex">
            <div class="items-center text-white mr-6 w-40">
              <img svg-inline class= "" src="../assets/mist_logo_white.svg">
            </div>
            <div class="flex flex-col">
              <div class="flex items-center flex-shrink-0 text-white mr-6">
                MiST3 vs WBW
              </div>
              <div class="flex items-center flex-shrink-0 text-white text-xs mr-6">
                Live comparison between the signal transduction protein assignment by MiST3 and the paper&nbsp<a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/1462-2920.14398" target="_blank">"What Bacteria Want?"</a>
              </div>
            </div>
        </div>
    </nav>
</template>
<p> (WBW)</p>
<script lang="ts">
import Vue from 'vue'

const avg = (values: number[]) => {
  return values.reduce((sum, value) => sum + value)/values.length
}

interface ICount {
  mist: number,
  wbw: number
}

export default Vue.extend({
  props: {
    counts: {
      type: Array
    }
  },
  data: function () {
    const accurMsg: string = '... fetching MiST3 info ...'
    return {
      accurMsg
    }
  },
  watch: {
    counts: function (counts: ICount[]) {
      const fps = counts.filter(count => count.wbw < count.mist).map(count => count.mist - count.wbw)
      const fns = counts.filter(count => count.wbw > count.mist).map(count => count.wbw - count.mist)
      const tps = counts.filter(count => count.wbw === count.mist).map(count => count.mist)
      const allTps = tps.reduce((sum, value) => sum + value, 0)
      this.accurMsg = `True positives: ${allTps}`
    } 
  }
})
</script>