<template>
  <div class="table w-auto m-auto my-2 bg-white text-xs">
    <div class="table-row">
      <div class="table-cell"/> 
      <div class="table-cell text-lg">
        Organism, strain name
      </div>
      <div class= "table-cell px-3 text-center" v-for="(name, orderIndex) in tableOrder" :key="orderIndex">
        {{ makeItPretty(name) }}
      </div>
    </div>
    <div class="table-row">
      <div class="table-cell"/> 
      <div class="table-cell"/> 
      <div class= "table-cell text-center p-1" v-for="(name, orderIndex) in tableOrder" :key="orderIndex">
        ({{ extraInfo(name) }})
      </div>
    </div>
    <div class="table-row">
      <div class="table-cell"/> 
      <div class="table-cell"/> 
      <div class= "table-cell text-center" v-for="(name, orderIndex) in tableOrder" :key="orderIndex">
        WBW vs MiST3
      </div>
    </div>
    <div class= "table-row" v-for="(data, dataIndex) in wbwData" :key="dataIndex">
        <div class="table-cell flex items-center pt-2 px-1">
            <a target="_blank" :href="'https://mistdb.com/genomes/' + data.versions[0]">
              <img class="" svg-inline src="../assets/mist_logo.svg" width="30px"/>
            </a>
        </div>
        <div class="table-cell items-center align-middle">
            <span class="text-black italis"> {{data.name}} </span>
            <span class="text-black"> {{data.strain}} </span>
        </div>
        <div class= "table-cell" v-for="(kind, orderIndex) in tableOrder" :key="orderIndex">
          <div :class="setCellClass(dataIndex, kind)">
            <div class="table-cell flex text-center">
              {{ getWbwCount(dataIndex, kind) }}
            </div>
            <div class="table-cell"> 
              <div v-if="getMistCount(dataIndex, kind) === 'wait'" class="icon-active bg-black rounded-full w-2 h-2"/>
              <div v-else class="flex">{{ getMistCount(dataIndex, kind) }}</div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Genome } from 'mist3-ts'
import { wbw } from 'static/wbw'
import { config } from 'static/config'

const tableOrder = config.tableOrder
type kindType = keyof typeof config.filters

interface ISigStat {
  name: string,
  count: number
}

interface IData {
  name: string
  versions: string[]
  wbwSigStat: ISigStat[]
} 

const info = config.info

export default Vue.extend ({
  data: () => {
    const wbwData = wbw.data
    const mistData: ISigStat[][] = []
    const counts: {mist: number, wbw: number}[] = []
    return {
      wbwData,
      mistData,
      tableOrder,
      counts
    }
  },
  mounted: async function() {
    const promises: any = []
    wbw.data.forEach((organism) => {
      const genome = new Genome(organism.versions[0], 'WARN')
      promises.push(genome.fetchSignalGenes())
    })
    await Promise.all(promises).then((results: any) => {
      results.forEach((result: any, i: number) => {
        const stats: ISigStat[] = []
        for (const typelessKind of tableOrder) {
          const kind = typelessKind as kindType
          const stat = {
            name: kind,
            count: 0
          }
          if (config.filters[kind]) {
            config.filters[kind].forEach((filter: { field: string, value: string}) => {
              const count = result.filter((item: any) => {
                if (item[filter.field]) {
                  const values = filter.value.split(',')
                  for (const value of values) {
                    if (item[filter.field].indexOf(value) !== -1) {
                      return true
                    }
                  }
                }
              }).length
              stat.count += count
            })
          }
          stats.push(stat) 
        }
        this.mistData.push(stats)
      })
    })
  },
  methods: {
    makeItPretty(input: kindType) {
      return info[input].pretty
    },
    extraInfo(input: kindType) {
      return info[input].notes
    },
    getWbwCount(dataIndex: number, kind: string) {
      const stat = this.wbwData[dataIndex].wbwSigStat.find(item => item.name === kind)
      if (stat) {
        return stat.count
      }
    },
    getMistCount(dataIndex: number, kind: string) {
      if (!this.mistData[dataIndex]) {
        return 'wait'
      }
      const stat = this.mistData[dataIndex].find(item => item.name === kind)
      if (stat) {
        return stat.count
      }
    },
    setCellClass: function(dataIndex: number, kind: string) {
      const wbwCount = this.getWbwCount(dataIndex, kind) || 0
      const mistCount = this.getMistCount(dataIndex, kind) || 0
      const baseClass = `flex justify-around items-center m-1`
      
      if (mistCount === 'wait') {
        return baseClass
      } else {
        const diff = Math.abs(wbwCount - mistCount)/Math.max(wbwCount, mistCount)
        const intensity = Math.floor(diff * 1000 / 100) * 100
        const effIntensity = intensity < 200 ? 200 : (intensity > 900 ? 900 : intensity )
        if (mistCount === wbwCount) {
          return `${baseClass} bg-${config.colorCode.hit}-500`
        }
        if (wbwCount - mistCount as number < 0) {
          return `${baseClass} bg-${config.colorCode.fp}-${effIntensity}`
        }
        if (wbwCount - mistCount as number > 0) {
          return `${baseClass} bg-${config.colorCode.fn}-${effIntensity}`
        }
      }
      return baseClass
    },
  },
  watch: {
    counts: function() {
      this.$emit('updateCounts', this.counts)
    }
  }
})

</script>

<style>

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.icon-active {
    animation: blinker 1s infinite;
}

</style>